html, body{
	height:100%;
}
aside{
	top:58px;
	height:100%;
	bottom: 0;
    padding-bottom: 50px;
    position: fixed;
    border-radius: 0;
}
aside.left{
	left:0;
	width:210px;
	background-color:#ebebeb;
}
aside.left .mini-profile.socialite .avatar-img img{
	width:100px;
	height:100px;
	border-radius: 50px;
}
aside.right{
	right:0;
	width:30%;
	background-color:#fffff2;
	padding:15px;
	overflow-y: auto;
}
.aside-bg, aside.left > .panel{
	background-color:transparent;
	border:none;
	box-shadow: none;
}
@media (max-width: 1011px) {
	aside{
		display:none;
	}
}
